.snakemake
results
__pycache__
projects
user_data
results
.vscode
snpeff.config
config/config.yaml
workflow/db/data
software
user/project_info.yaml
user/sample_metadata.csv
config/config.yaml
output.txt
*.png
*.pdf
workflow/db/snpeff.config
